// imports
@use '../abstracts/base';
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

// testimonials
.testimonials {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__bg-top {
    position: absolute;
    width: 70%;
    top: -10rem;
    left: -10rem;
    z-index: -1;

    @include mix.responsive(xl) {
      top: -5rem;
      left: -5rem;
    }

    @include mix.responsive(lg) {
      top: 0;
      left: 0;
      width: 80%;
    }

    @include mix.responsive(lg) {
      top: 5rem;
      left: 5rem;
      width: 100%;
    }
  }

  &__bg-bottom {
    position: absolute;
    width: 70%;
    bottom: -10rem;
    right: -10rem;
    z-index: -1;

    @include mix.responsive(xl) {
      bottom: -5rem;
      right: -5rem;
    }

    @include mix.responsive(lg) {
      bottom: 0;
      right: 0;
      width: 80%;
    }

    @include mix.responsive(md) {
      width: 100%;
    }
  }

  &-content {
    @include mix.maxWidthLg;
    @include mix.sectionSpacing;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  &-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include mix.responsive(lg) {
      gap: 2rem;
    }

    @include mix.responsive(md) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__heading {
      @include mix.headingStyles;
      font-size: var.size(xxl) + 1.5rem;
      color: var.color(darkMagenta);
      padding-bottom: 1rem;

      @include mix.responsive(sm) {
        font-size: var.size(xxl);
      }
    }

    &__lead {
      @include mix.textStyles;
      font-size: var.size(xs);
      color: var.color(darkGrayishMagenta);
      width: 90%;

      @include mix.responsive(md) {
        width: 100%;
      }
    }
  }

  &-quotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding-top: 2rem;

    @include mix.responsive(lg) {
      gap: 2rem;
    }

    @include mix.responsive(md) {
      grid-template-columns: 1fr;
    }
  }
}
